<div class="head-main">
  <div class="row align-items-flex-start">
    <!-- Колонка для фото -->
    <div class="col-7 d-flex">
        <img [src] = "picture" alt="photo" class="img-fluid photo">
      
      <div class="intro">
        <!-- Додайте клас ms-3 для відступу -->
        <h1 class="name">
          Henry L.<br />
          <span class="font-weight-light" style="font-weight: 300"
            >Williams</span
          >
        </h1>
        <h5 class="work-now">Graphic & Web Designer</h5>
        <p class="introduction">
          Lorem Ipsum has been the industry's standard dummy text ever since the
          1500s, when an unknown printer took a galley of type and scrambled it
          to make a type specimen book.
        </p>
      </div>
    </div>

    <!-- Колонка для контактів -->
    <div class="col-5">
      <div class="blue-and-grey-rect">
        <div class="blue-rect"></div>
        <div class="grey-color1">
          <div class="contact-header d-flex align-items-center">
            <div class="icon-container">
              <i class="bi bi-person-fill" style="color: white"></i>
            </div>
            <h2 class="head2 ms-3">CONTACT</h2>
          </div>
          <div class="line"></div>
          <div class="vert-line-plus">
            <div class="vert-line"></div>

            <div class="about-me ms-0">
              <div class="tel-header d-flex align-items-center">
                <div class="icon-container2">
                  <i class="bi bi-telephone-fill" style="color: white"></i>
                </div>
                <a href="tel:+380683517631 " class="ms-3">+380 68 351 76 31</a>
              </div>

              <div class="email-header d-flex align-items-center">
                <div class="icon-container2">
                  <i class="bi bi-globe" style="color: white"></i>
                </div>
                <a
                  href="https://finder.porsche.com/ua/uk-UA/details/porsche-panamera-4-ehybrid-Z8K6D2?condition=new&condition=porsche_approved&condition=used&model=panamera"
                  target="_blank"
                  class="ms-3"
                >
                yourwebsite.com<br />
                 
                </a>
              </div>

              <div class="place-header d-flex align-items-center">
                <div class="icon-container2">
                  <i class="bi bi-geo-alt-fill" style="color: white"></i>
                </div>
                <a
                  href="https://dealer.porsche.com/ua/lviv/uk-UA"
                  target="_blank"
                  class="ms-3"
                >
                  вул.Вашингтона, 8<br />Львів, 79000
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
