<div class="grey-color">
  <div class="row">
    <!-- Блок навичок -->
    <div class="column-skills col-4">
      <div class="col-sm">
        <div class="skills-header d-flex align-items-center">
          <div class="icon-container1">
            <i class="bi bi-pie-chart-fill" style="color: white"></i>
          </div>
          <h2 class="head2 ms-3">SKILLS</h2>
        </div>
        <div class="line"></div>

        <!-- Місце для навичок -->
        <div class="about" id="skills-container">
          <!-- Динамічно додаватимемо елементи за допомогою JS -->
        </div>
      </div>
    </div>

    <!-- Блок хобі -->
    <div class="column-hobbies col-4">
      <div class="col-sm">
        <div class="hobbies-header d-flex align-items-center">
          <div class="icon-container1">
            <i class="bi bi-flag" style="color: white"></i>
          </div>
          <h2 class="head2 ms-3">HOBBIES</h2>
        </div>
        <div class="line"></div>

        <!-- Місце для хобі -->
        <div class="about" id="hobbies-container">
          <!-- Динамічно додаватимемо елементи за допомогою JS -->
        </div>
      </div>
    </div>

    <!-- Блок мов -->
    <div class="column-languages col-4">
      <div class="col-sm">
        <div class="languages-header d-flex align-items-center">
          <div class="icon-container1">
            <i class="bi bi-globe-asia-australia" style="color: white"></i>
          </div>
          <h2 class="head2 ms-3">LANGUAGES</h2>
        </div>
        <div class="line"></div>

        <!-- Місце для мов -->
        <div class="about" id="languages-container">
          <!-- Динамічно додаватимемо елементи за допомогою JS -->
        </div>
      </div>
    </div>
  </div>
</div>
